.header-container{
    background-color: darkred;
    height: 60px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    padding: 25px;
}

.header-container a{
    font-size: 30px;
}