.footer-container{
    height: 60px;
    background-color: darkred;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container p{
    font-family: 'Homer Simpson Revised', sans-serif;
    font-size: 20px;
                                                
}