
@import url('https://fonts.cdnfonts.com/css/homer-simpson-revised');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Homer Simpson Revised', sans-serif;
}


a{
  text-decoration: none;
  color: inherit;
                                                
}

:root{
  --primary-bg:rgb(102, 92, 171);
  --light-theme-btn:#430f58;
  --dark-theme-btn:#c3195d;
  --white:white;
}